<p>
  Your file with id <%= @contacts_file.id %> was processed
</p>
<p>
  state: <%= @contacts_file.state %>
</p>

<% if @contacts_file.err_message.nil?  %>
<p>
 error: none
</p>
<% else %>
  <% @contacts_file.err_message.split("\n").each do |err|  %>
    <p>
       <%= err %>
    </p>
  <% end %>  
<% end %>